server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service-admin
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/admin/**
          filters:
            - AuthenticationFilter
        
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
        
        - id: employee-service
          uri: lb://employee-service
          predicates:
            - Path=/api/employees/**
          filters:
            - AuthenticationFilter
        
        - id: attendance-service
          uri: lb://attendance-service
          predicates:
            - Path=/api/attendance/**
          filters:
            - AuthenticationFilter
        
        - id: leave-service
          uri: lb://leave-service
          predicates:
            - Path=/api/leaves/**
          filters:
            - AuthenticationFilter
        
        - id: payroll-service
          uri: lb://payroll-service
          predicates:
            - Path=/api/payroll/**
          filters:
            - AuthenticationFilter
        
        - id: announcement-service
          uri: lb://announcement-service
          predicates:
            - Path=/api/announcements/**
          filters:
            - AuthenticationFilter

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
